.app_layout {
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  button {
    margin: 0;
  }
}

.greetings {
  padding: 0 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.user_session {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  span {
    font-weight: bold;
  }
}